[Desktop Entry]
Name=Microsoft Word 2010
Exec=env WINEPREFIX="/home/kirill/.msoffice" /home/kirill/.clibs/wine32-3.0.2/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/kirill/.msoffice/dosdevices/c:/users/kirill/Start\\ Menu/Programs/Microsoft\\ Office/Microsoft\\ Word\\ 2010.lnk
Type=Application
StartupNotify=true
Comment=Create and edit professional-looking documents such as letters, papers, reports, and booklets by using Microsoft Word.
Icon=0575_wordicon.0
StartupWMClass=winword.exe
