[Desktop Entry]
Name=Microsoft PowerPoint 2010
Exec=env WINEPREFIX="/home/kirill/.msoffice" /home/kirill/.clibs/wine32-3.0.2/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/kirill/.msoffice/dosdevices/c:/users/kirill/Start\\ Menu/Programs/Microsoft\\ Office/Microsoft\\ PowerPoint\\ 2010.lnk
Type=Application
StartupNotify=true
Comment=Create and edit presentations for slide shows, meetings, and Web pages by using Microsoft PowerPoint.
Icon=1CE1_pptico.0
StartupWMClass=powerpnt.exe
