[Desktop Entry]
Type=Application
Name=Microsoft Excel
MimeType=application/vnd.openxmlformats-officedocument.spreadsheetml.template;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen Excel.Template %f
NoDisplay=true
StartupNotify=true
