[Desktop Entry]
Type=Application
Name=Microsoft Word
MimeType=application/msword;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen Word.Document.8 %f
NoDisplay=true
StartupNotify=true
