[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen PowerPoint.Show.12 %f
NoDisplay=true
StartupNotify=true
