[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/vnd.ms-powerpoint;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen PowerPoint.Wizard.8 %f
NoDisplay=true
StartupNotify=true
