[Desktop Entry]
Type=Application
Name=Microsoft Excel
MimeType=application/vnd.ms-excel.template.macroEnabled.12;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen Excel.TemplateMacroEnabled %f
NoDisplay=true
StartupNotify=true
