[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/vnd.ms-powerpoint.slideshow.macroEnabled.12;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen PowerPoint.SlideShowMacroEnabled.12 %f
NoDisplay=true
StartupNotify=true
