[Desktop Entry]
Type=Application
Name=Microsoft Excel
MimeType=application/vnd.ms-excel.sheet.macroEnabled.12;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen Excel.SheetMacroEnabled.12 %f
NoDisplay=true
StartupNotify=true
