[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/vnd.ms-officetheme;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen OfficeTheme.12 %f
NoDisplay=true
StartupNotify=true
