[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/x-wine-extension-pothtml;
Exec=env WINEPREFIX="/home/kirill/.msoffice" wine start /ProgIDOpen powerpointhtmltemplate %f
NoDisplay=true
StartupNotify=true
